
.md-floating-label-select {
  cursor: text;
  line-height: 1;
  pointer-events: none;
  top: 0;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: font-size, color, -webkit-transform;
  transition-property: font-size, color, -webkit-transform;
  -o-transition-property: transform, font-size, color;
  transition-property: transform, font-size, color;
  transition-property: transform, font-size, color, -webkit-transform;
  white-space: nowrap;
}

.md-selection-control-label {
  font-size: 0.7em;
}